<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Buoi13_WindowBuilder/src/view/CalculatorForm.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="view.CalculatorForm"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Buoi13_WindowBuilder"/>
</launchConfiguration>
